.top {
    height: 75px;
    border: 2px solid black;
}

.board {
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.product {
    width: 20%;
    height: 100px;
    border: 2px solid #333;
    color: white;
    background-color: rgb(21, 24, 21);
}

.val {
    color: red;
    font-size: larger;
}

.info {
    border: 1px solid black;
    display: flex;
    justify-content: right;
}